<%=
  erb :'partials/header',
      locals: {
        title: 'Merchants',
        dashboard: '/merchants-dashboard',
        create: {
          object: 'Merchant',
          path: '/merchant/new'
        }
      }
%>
<div class="container">
  <ul class="merchants">
    <% merchants.find_each do |merchant| %>
      <li class="merchant">
        <a href="/merchant/<%= merchant.id %>"><%= merchant.name %></a>

        <form action="/merchant/<%= merchant.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <a href="/merchant/<%= merchant.id %>/edit" class='edit button'>Edit</a>
          <input type="submit" value="Delete" class="delete button"/>
        </form>
      </li>
    <% end %>
  </ul>
</div>
