<%=
  erb :'partials/header',
      locals: {
        title: 'Merchants',
        dashboard: '/merchants-dashboard',
        create: {
          object: 'Merchant',
          path: '/merchants/new'
        }
      }
%>
<div class="container">
  <ul class="collection">
    <% merchants.find_each do |merchant| %>
      <li class="collection-item">
        <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>

        <div class="secondary-content">
          <form action="/merchants/<%= merchant.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <a href="/merchants/<%= merchant.id %>/edit" class="icon button edit"><i class="far fa-edit"></i></a>
            <a href="#" class="icon button delete"><i class="far fa-trash"></i></a>
          </form>
        </div>
      </li>
    <% end %>
  </ul>
</div>
