<%=
  erb :'partials/header',
      locals: {
        title: merchant.name,
        dashboard: nil,
        create: nil,
        brand_logo: nil,
        buttons: {
          edit: {
            href: "/merchants/#{merchant.id}/edit",
            text: 'Edit'
          },
          delete: {
            href: "/merchants/#{merchant.id}",
            text: 'Delete',
          }
        }
      }
%>

<div class="container">
  <ul class="cards">
    <% merchant.items.find_each do |item| %>
      <li class="card">
        <a href="/items/<%= item.id %>">
          <img src="<%= item.image %>" alt="<%= item.title %>" title="<%= item.title %>" />
        </a>
        <div class="info">
          <a href="/items/<%= item.id %>"><%= item.title %></a>
          <p><%= item.formatted_price %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>