<%=
  erb :'partials/header',
      locals: {
        title: 'Items Dashboard',
        dashboard: nil,
        buttons: nil,
        brand_logo: nil
      }
%>

<div class="container">
  <ul class="cards stats">
    <li class="card">
      <h3>Total Item Count</h3>
      <h2 class="big-num"><%= Item.count %></h2>
    </li>
    <li class="card">
      <h3>Avg Price Per Item</h3>
      <h2 class="big-num"><%= Item.avg_price %></h2>
    </li>
    <li class="card">
      <h3>Item By Age</h3>
      <ul>
        <li id="newest">
          <h4>Newest</h4>
          <ul class="inline">
            <li>
              <p class="left">Item:</p>
              <p class="right">
                <a href="/items/<%= Item.newest.id %>"><%= Item.newest.title %></a>
              </p>
            </li>
          </ul>
        </li>
        <li id="oldest">
          <h4>Oldest</h4>
          <ul class="inline">
            <li>
              <p class="left">Item:</p>
              <p class="right">
                <a href="/items/<%= Item.oldest.id %>"><%= Item.oldest.title %></a>
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>