<%=
  erb :'partials/header',
      locals: {
        title: 'Items',
        dashboard: '/items-dashboard',
        buttons: {
          create: {
            text: 'Item',
            href: '/items/new'
          }
        }
      }
%>

<div class="container">
  <ul class="cards">
    <% items.find_each do |item| %>
      <li class="card">
        <a href="/items/<%= item.id %>">
          <img src="<%= item.image %>" alt="<%= item.title %>" title="<%= item.title %>" />
        </a>
        <div class="info">
          <a href="/items/<%= item.id %>"><%= item.title %></a>
          <p>$<%= item.price %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
